APScheduler==3.10.1
certifi==2023.7.22
Click==8.1.6
configparser==5.3.0
cycler==0.11.0
Flask==2.2.5
Flask-Cors==4.0.0
imbalanced-learn==0.11.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.1
kiwisolver==1.4.4
kneed==0.8.5
MarkupSafe==2.1.3
pytz==2023.3
scikit-learn==1.0.2
scipy==1.7.3
six==1.16.0
threadpoolctl==3.1.0
tzlocal==5.0.1
Werkzeug==2.2.3
numpy==1.21.6
SQLAlchemy==2.0.19
colorhash==1.2.1
gunicorn==21.2.0
Flask-MonitoringDashboard==3.1.1
wincertstore==0.2
matplotlib==3.5.3
pandas==1.3.5
Pillow==9.5.0
psutil==5.9.5
pyparsing==3.1.0
python-dateutil==2.8.2